* {
    box-sizing:border-box;
    padding:0px;
    margin:0px;
}

body {
    position:relative;
    clear:both;
    padding-bottom:80px;
    min-height: 400px;
}
main {
    margin-bottom: 100px;

}

header {
        height:150px;
        background-color: #D03731;
        padding:0px;

        
}
header p {
    text-align: center;
    font-size:40px;
    padding-top:50px;

}

header img {
    float: left;
    height:100%;
    width: 10%;
    
}

.navbar ul {
    list-style:none;
    background-color: rgb(97, 97, 97);
    text-align: center;
    font-size: 20px;
    margin:auto;
}
.navbar ul li{
    display:inline-block;
    position:relative;
    width:15%;
}

.navbar ul li a {
display:block;
text-align: center;
color:white;
text-decoration: none;
padding:20px 20px;
font-size:18px;
}

.navbar ul li ul.dropdown li {
display:block;
width:100%;
text-align:center;

}

.navbar ul li ul.dropdown {
display:none;
position:absolute;
background: rgb(97, 97, 97);
width:100%;
z-index:999;
}

.navbar ul li a:hover {
background-color:#D03731;
}

.navbar ul li:hover ul.dropdown {
    display:block;
}

.navbar a.active{
background-color: #D03731;
}

footer {
background-color: #D03731;
color:white;
margin: 10px 10px 0px 10px;
height:80px;
text-align:center;
bottom:0;
width:100%;
position: absolute;

a {
    color:white;
}
}

@media screen and (max-width:600px){

}

/* START OF Page Specific Style */

.profilepicture {
  
    width:15%;
    height:20%;
    padding: 10px 10px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border-radius:90%;

    img{
        width:100%;
    }
}

table {
    margin-left: auto;
    margin-right: auto;
    font-size:20px;
    border-collapse: collapse;
    width:35%;
}

tr {
    text-align: center;
}

td {
    text-align: center;
}

table, tr, th, td {
        border: 1px solid black;
}